@import url('./assets/fonts/general-sans.css');
@import url('./assets/fonts/cabinet-grotesk.css');

* {
    --primary-color: #FDFFF7;
    --secondary-color: #1b1919;
    --accent-color: #b6c0e6;
    font-family: 'CabinetGrotesk-Regular', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--secondary-color);
    display: grid;
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 100px 1fr;
}

header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding:0.5em;
    border-bottom: 0.5px solid var(--accent-color);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 1px solid var(--accent-color);
    height:fit-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Adds neat spacing between your project buttons */
}

.btn {
    background: transparent;
    color: var(--primary-color);
    border:none;
    padding: 0.5em;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 20px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
        &&:hover {
            color: var(--accent-color);
            cursor: pointer;
    }
}

.btn-primary {
    background: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 4px;
    padding: 0.5em 1em;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 18px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
        &&:hover {
            background: var(--primary-color);
            color: var(--secondary-color);
            cursor: pointer;
    }
}

.project-modal {
    top: -30%;
    background: var(--secondary-color);
    height: 200px;
    width: 300px;
}

.project-modal[open] {
    display: flex;
    flex-direction: column;
}

.project-modal h3 {
    color: var(--primary-color);
    margin-top: 1rem;
}

.project-modal .project-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.project-modal .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--primary-color);
}

input[id="project-name"] {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1.5rem;
    overflow-y: auto; /* Allows scrolling ONLY in the content area if the list gets too long */
    color:var(--primary-color)
}